html{
  background-color: rgb(36, 36, 36);
  color:aliceblue
}
.accordion{
  --bs-accordion-bg: rgb(196, 196, 196)!important;
  --bs-accordion-border-color: aliceblue!important;
  --bs-accordion-border-width: 1px!important;
  --bs-accordion-border-radius: 0.25rem!important;
  --bs-accordion-button-color: aliceblue!important;

}
.accordion-button{
  color:black;
}
.header{
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
}
.App{
  padding-top:-20px;
  background-color: rgb(35, 35, 35) ;
  color:aliceblue
}


.tradingview-widget {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.tradingview-widgets-grid {
  display: flex;
  flex-wrap: wrap;
}

.tradingview-widget-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding:20px;
}

.crypto-selector,
.indicator-selector {
  margin-bottom: 20px;
}

.cryptoList,
.indicator-option {
  display: flex;
  align-items: center;
}

.cryptoList input,
.indicator-option input {
  margin-right: 5px;
}

.indicator-selector {
  margin-bottom: 20px;
}

.explanation {
  margin-top: 20px;
  padding:20px;
}

.explanation__section {
  margin-bottom: 20px;
  width:20%;
  display:inline-flex;
  flex-direction:column;
  padding:10px;

}

.explanation__section h2 {
  margin-bottom: 10px;
}

.referal{
  padding:20px;
}